@media only screen and (min-width: 1200px){
    body p{
      font-size: 16px;
    }

    .header{
        height: 300px;
        width: 100%;
        background-image: url(images/image-hero-desktop.jpg);
      }
    
      .burger{
        display: none;
      }
    
      nav{
        width: 35%;
        float: right;
        height: 100px;
        margin: -30px;
      }
    
      nav ul{
        background-color: transparent;
      }
    
      nav ul li{
        display: inline;
        border-bottom: none;
      }
    
      nav ul li a{
        color: #fff;
        font-weight: 300;
      }
      nav ul li a:hover{
        color: #ddd;
      }

      /* main */

  main{
    width: 70%;
    margin: auto;
    margin-top: -100px;
  }

/* first card */
    .br{
        display: none;
    }

  .btn-bookmark-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }


  .back-project-btn{
    width: 40%;
    padding: 10px;
    background-color: hsl(176, 50%, 47%);
    border-radius: 40px;
    border: none;
    color: #fff;
    cursor: pointer;
  }

  /* second card */

  .card-stats{
    width: 80%;
    text-align: center;
    background-color: #fff;
    height: 200px;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    padding-top: 30px;
  }

  .stats-wrapper{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
  }

  .card-stats hr{
    display: none;
  }

  .countdown{
    width: 70%;
    position: relative;
    bottom: 50px;
  }

  .countdown div{
    width: 80%;
    height: 10px;
    border-radius: 10px;
    background-color: hsl(176, 50%, 47%)
    
  }

  .border{
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding-left: 60px;
    padding-right: 60px;
  }

  /* about project */

/* pledge section */
.pledge .article-div{
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: left;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    height: 250px;

}

.pledge .article-div article{
  margin-top: 10px;
}


.span{
    float: right;
    margin-top: -30px;
}

.select-reward-div{
    margin-top: -15px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    line-height: 105px;
}

.select-reward-btn{
    width: 40%;
}

/* modal section */
.modal-wrapper{
  position: absolute;
  top: 100px;
  left: 20%;
  background-color: #fff;
  width: 60%;
  margin: auto;
  border-radius: 10px;
  z-index: 2;
  padding-bottom: 50px;
}

.article-wrapper{
  position: relative;
}


.br-modal{
  display: none;
}

.article-wrapper h3{
  position: absolute;
  top: 20px;
  right: 20px;
}

/* pledge section */
.pledge-div{
  padding-top: 20px;
  padding-bottom: 20px;
}

.pledge-text{
  text-align: center;
  height: 40px;
}

.plegde-btn-div{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.warning25, .warning75{
  display: none;
}

.form{
  width: 100px;
  margin-right: 30px;
}

.form input{
  border: 1px solid #ddd;
  border-radius: 30px;
  height: 40px;
  width: 100%;
  text-align: center;
  color: #000;
}

.pledge-btn{
  border: 1px solid #ddd;
  border-radius: 30px;
  height: 45px;
  width: 100px;
  margin-right: 10px;
  text-align: center;
  color: #fff;
  background-color: hsl(176, 50%, 47%);
  cursor: pointer;
}

.pledge-btn:hover{
  background-color: hsl(176, 72%, 28%);
}

.pledge-btn h3{
  font-weight: 700;
  font-size: 14px;
}

.pledge-div-sf{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}


.pledge-div-tf{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.thanks{
  width: 60%;
  margin: auto;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  top: 100px;
  right: 20%;
  z-index: 2;
}






}